
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding:0px;
  margin:0px;
  font-family: 'OpenSans', sans-serif;
}

@media (max-width:765px) {
    .hidden-on-phone {
      display: none;
    }
  }

  @media (max-width:1024px) {
    .hidden-on-tablet {
      display: none;
    }
  }

  .container {
    display: flex;
    align-items: center;
}


.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #E74E3E;
    position: relative;
}

.dot::before,
.dot::after {
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dot::before {
    left: -90px; /* 50px width + 5px margin */
}

.dot::after {
    right: -90px; /* 50px width + 5px margin */
}

.dot::before,
.dot::after {
    content: '';
    width: 70px;
    height: 0.5px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}



.dotport {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E74E3E;
  position: relative;
}

.dotport::before,
.dotport::after {
  content: '';
  width: 70px;
  height: 0.5px;
  background-color: #E74E3E;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.dotport::before {
  left: -90px; /* 50px width + 5px margin */
}

.dotport::after {
  right: -90px; /* 50px width + 5px margin */
}

.dotport::before,
.dotport::after {
  content: '';
  width: 70px;
  height: 0.5px;
  background-color: grey  ;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon-wrapper {
  position: relative;
}

.icon-content {
  /* Style your icon here */
}

.border-square {
  padding:30px;
  width: 100%;
  height: 100%;
  border: 1px solid #000; /* Adjust border style as needed */
  transition: transform 0.5s ease-in-out; /* Add transition for smooth rotation */
}

.icon-wrapper:hover .border-square {
  transform: rotate(45deg);
  border: 1px solid #E74E3E;
}

.icon-wrapper:hover .textbrickred ,.icon-content{
  color:#E74E3E;
  transition-duration: 1s;

}

{/*portfolio section*/}
.icon-wrapperport {
  position: relative;
}

.icon-contentport {
  /* Style your icon here */
}

.border-squareport {
  background-color:#E74E3E;
  padding:30px;
  width: 100%;
  height: 100%;
  border: 1px solid #000; /* Adjust border style as needed */
  transition: transform 0.5s ease-in-out; /* Add transition for smooth rotation */
}

.icon-wrapperport:hover .border-squareport {
  transform: rotate(45deg);
  border: 1px solid #E74E3E;
}

.icon-wrapperport:hover .textbrickred ,.icon-contentport{
  color:#E74E3E;
  transition-duration: 1s;

}




.black-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url('/images/homebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  display:flex;
  justify:justify-center;
  align-items:center;
  background-color:#E74E3E;
  font-weight:bold;
  color: white;
  font-size: 16px;
  padding:100px;
  opacity:0.7;
}


